@charset "UTF-8";
/* FontFamily */
body {
  font-family: "ヒラギノ明朝 ProN", "YakuHanJPs, 'Hiragino Kaku Gothic Pro', MyYuGothicM, Meiryo, sans-serif;";
}

body {
  background-color: #f2f4f6;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 62.5%;
}
@media (max-width: 500px) {
  html {
    font-size: 2vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1vw;
  }
}
@media (min-width: 1000px) {
  html {
    font-size: 62.5%;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1050px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-contact-submit {
  margin-top: 0.5rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .l-contact-submit {
    margin-top: 1rem;
  }
}

.l-contact {
  padding: 2rem 0;
}

.l-footer {
  padding: 4.5rem 0;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  width: 100%;
}

.l-section {
  padding: 7rem 0;
}

.c-contact-submit {
  text-align: center;
}

.c-contact-submit__button {
  display: inline-block;
  background: #b1e0e6;
  padding: 2rem 10rem;
  padding: 0.6em 2em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  font-size: 1.2rem;
  border-radius: 3rem;
}
@media screen and (min-width: 768px) {
  .c-contact-submit__button {
    font-size: 1.8rem;
  }
}

.c-hamburger {
  display: inline-block;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .c-hamburger {
    display: none;
  }
}
.c-hamburger::after {
  content: "MENU";
  display: block;
  color: #fff;
  font-family: "ヒラギノ明朝 ProN", "YakuHanJPs, 'Hiragino Kaku Gothic Pro', MyYuGothicM, Meiryo, sans-serif;";
  font-size: 1.6rem;
  letter-spacing: 0.08em;
  line-height: 1.2;
  margin-top: 0.25rem;
  -webkit-transition: content 0.3s;
  transition: content 0.3s;
}
.c-hamburger.is-open::after {
  content: "CLOSE";
}

.c-hamburger__bars {
  display: block;
  width: 15px;
  height: 8px;
  margin: 0 auto;
  position: relative;
}

.c-hamburger__bar {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.c-hamburger__bar1 {
  top: 0;
  -webkit-transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, transform 0.3s;
  transition: top 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.c-hamburger__bar1.is-open {
  top: 0.4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger__bar2 {
  top: 0.4rem;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.c-hamburger__bar2.is-open {
  opacity: 0;
}

.c-hamburger__bar3 {
  top: 0.8rem;
  -webkit-transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, transform 0.3s;
  transition: top 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.c-hamburger__bar3.is-open {
  top: 0.4rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-logo {
  display: inline-block;
  color: #fff;
  font-family: "ヒラギノ明朝 ProN", "YakuHanJPs, 'Hiragino Kaku Gothic Pro', MyYuGothicM, Meiryo, sans-serif;";
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1.2;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
@media screen and (min-width: 768px) {
  .c-logo {
    font-size: 2rem;
    display: inline-block;
  }
}
.c-logo:focus, .c-logo:hover {
  opacity: 0.7;
}

.p-about__body {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  margin: 2rem auto 0;
  letter-spacing: 0.1rem;
  max-width: 100rem;
  width: 100%;
  border-radius: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .p-about__body {
    padding: 5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .p-about__img {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .p-about__texts {
    padding: 0 2rem;
    width: 70%;
  }
}

.p-about__name {
  font-size: 2.5rem;
  font-weight: 700;
}
.p-about__name span {
  margin-left: 0.5rem;
}

.p-about__text--top {
  font-size: 1.6rem;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-about__text--top {
    font-size: 1.4rem;
  }
}

.p-about__text__title {
  display: inline-block;
  border-bottom: solid 1px;
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .p-about__text__title {
    font-size: 3rem;
  }
}

.p-about__text--bottom {
  font-size: 1.4rem;
  margin-top: 2rem;
}

.p-about__text {
  margin-top: 2rem;
}

.p-about__subname {
  font-size: 1.2rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-about__subname {
    font-size: 1.8rem;
  }
}

.p-about__subtext {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .p-about-porfile {
    max-width: 30rem;
    width: 100%;
  }
}

.p-about-porfile__img {
  width: 50%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .p-about-porfile__img {
    width: 100%;
  }
}

.p-about-porfile__name {
  text-align: center;
  font-size: 2rem;
}

.p-common {
  text-align: center;
  font-weight: 700;
}

.p-common__title {
  font-size: 3.2rem;
  margin-top: 5rem;
}

.p-common__text {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
}

.p-contact-company {
  display: block;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-contact-company {
    margin-top: 6.6rem;
  }
}
.p-contact-company dd {
  margin-top: 0.9rem;
}
@media screen and (min-width: 768px) {
  .p-contact-company dd {
    margin-top: 1.5rem;
  }
}

.p-contact-label {
  font-size: 1.2rem;
  line-height: 2.58;
  letter-spacing: 0.18rem;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .p-contact-label {
    font-size: 1.8rem;
    line-height: 1.72223;
    letter-spacing: 0.27rem;
  }
}

.p-contact-label__name::after {
  margin-left: 0.9rem;
}
@media screen and (min-width: 768px) {
  .p-contact-label__name::after {
    margin-left: 0.4rem;
  }
}

.p-contact-label__mail::after {
  margin-left: 1.7rem;
}
@media screen and (min-width: 768px) {
  .p-contact-label__mail::after {
    margin-left: 0.4rem;
  }
}

.p-contact-label__comment::after {
  margin-left: 0.8rem;
}
@media screen and (min-width: 768px) {
  .p-contact-label__comment::after {
    margin-left: 5.7rem;
  }
}

.p-contact-label__required {
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-contact-label__required {
    padding-right: 5.4rem;
  }
}
.p-contact-label__required::after {
  content: "必須";
  border: 1px solid;
  color: #fff;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.3rem 0.3rem;
}

.p-contact-mail {
  margin-top: 4.3rem;
}
@media screen and (min-width: 768px) {
  .p-contact-mail {
    margin-top: 3.8rem;
  }
}
.p-contact-mail dd {
  margin-top: 0.8rem;
}
@media screen and (min-width: 768px) {
  .p-contact-mail dd {
    margin-top: 1.5rem;
  }
}

.p-contact-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3.9rem;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .p-contact-name {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 6.6rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.p-contact-name__left {
  width: 100%;
}
.p-contact-name__left dd {
  margin-top: 0.7rem;
}
@media screen and (min-width: 768px) {
  .p-contact-name__left dd {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .p-contact-name__left {
    width: 44.6rem;
  }
}

.p-contact-name__right {
  width: 100%;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-contact-name__right {
    width: 46.5rem;
    margin-top: 0;
  }
}

.p-contact {
  background: #efefef;
}

.p-contact__controls {
  margin-top: 1.9rem;
}
@media screen and (min-width: 768px) {
  .p-contact__controls {
    margin-top: 8.6rem;
  }
}

.p-contact__message {
  text-align: center;
  margin-top: 6rem;
  display: none;
}
.p-contact__message.-error {
  color: red;
}

.p-contact-textarea {
  margin-top: 4.6rem;
}
@media screen and (min-width: 768px) {
  .p-contact-textarea {
    margin-top: 3.7rem;
  }
}
.p-contact-textarea dd {
  margin-top: 1.3rem;
}
@media screen and (min-width: 768px) {
  .p-contact-textarea dd {
    margin-top: 1.6rem;
  }
}

.p-contact__check {
  margin-top: 2rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-contact__check {
    margin-top: 1rem;
  }
}
.p-contact__check a {
  color: #efefef;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 700;
}

.p-drawer {
  background-color: #888;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.p-drawer.is-open {
  -webkit-transform: translateX(30%);
          transform: translateX(30%);
}

.p-drawer__scroll {
  width: 100%;
  height: 100%;
  padding: 11.25rem 0 6.25rem;
  overflow-y: scroll;
}

.p-footer {
  background: #3e3e3e;
}

.p-footer__copyright {
  font-size: 1.4rem;
  display: block;
  text-align: center;
  color: #fff;
}

.p-form-checkbox + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 3rem;
  position: relative;
  font-size: 1.2rem;
}
@media screen and (min-width: 768px) {
  .p-form-checkbox + span {
    font-size: 1.6rem;
  }
}

.p-form-checkbox + span::before {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .16);
  border-radius: 0.2rem;
  content: "";
  display: block;
  height: 2rem;
  height: 2rem;
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2rem;
  width: 2rem;
}
.p-form-checkbox + span::after {
  border-bottom: 0.3rem solid #000;
  border-left: 0.3rem solid #000;
  content: "";
  display: block;
  height: 1rem;
  left: 0;
  margin-top: -0.2rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 2rem;
}
.p-form-checkbox:checked + span::after {
  opacity: 1;
}

.p-form-input {
  width: 100%;
  border: 1px solid #707070;
  padding: 0.4rem 1.6rem;
  background-color: #fff;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1.8rem;
  height: 3.8rem;
}
@media screen and (min-width: 768px) {
  .p-form-input {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

.p-form-textarea {
  width: 100%;
  padding: 1.7rem 0.8rem;
  height: 21.7rem;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 1.8rem;
}
@media screen and (min-width: 768px) {
  .p-form-textarea {
    padding: 2.2rem 0.8rem;
    height: 40rem;
  }
}

.p-gnav {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-gnav {
    display: block;
  }
}

.p-gnav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-gnav__item {
  font-family: "ヒラギノ明朝 ProN", "YakuHanJPs, 'Hiragino Kaku Gothic Pro', MyYuGothicM, Meiryo, sans-serif;";
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1.2;
  margin-left: 2rem;
}

.p-gnav__item a {
  display: block;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
  display: inline-block;
}
.p-gnav__item a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.p-gnav__item a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.p-header-upper__inner {
  width: 100%;
  max-width: 100%;
  height: inherit;
  padding: 0 2rem;
}
@media screen and (min-width: 768px) {
  .p-header-upper__inner {
    padding: 0 5rem;
  }
}

.p-header-upper__content {
  width: 100%;
  height: inherit;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.p-header-upper__logo {
  width: 100%;
  z-index: 20;
}

.p-header-upper__menu-icon {
  z-index: 20;
}

.p-header-upper__drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

.p-header {
  background-color: #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-header__upper {
  width: 100%;
  height: 5rem;
}

.p-mainvisual {
  background-image: url(../images/common/hokkaidou.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

/*リンクの形状*/
#p-page-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #b1e0e6;
  border-radius: 0.5rem;
  width: 6rem;
  height: 6rem;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
#p-page-top a:hover {
  background: #777;
}

/*リンクを右下に固定*/
#p-page-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 211111;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

/*左の動き*/
#p-page-top.LeftMove {
  -webkit-animation: LeftAnime 0.5s forwards;
          animation: LeftAnime 0.5s forwards;
}

@-webkit-keyframes LeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes LeftAnime {
  from {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*右の動き*/
#p-page-top.RightMove {
  -webkit-animation: RightAnime 0.5s forwards;
          animation: RightAnime 0.5s forwards;
}

@-webkit-keyframes RightAnime {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes RightAnime {
  from {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}
.p-skills__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  .p-skills__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.p-skills__item {
  padding: 5rem 5rem;
  background: white;
  border-radius: 2rem;
  width: 100%;
  margin-top: 2rem;
}
@media screen and (min-width: 768px) {
  .p-skills__item {
    width: 33.3333333333%;
  }
  .p-skills__item:nth-child(n+2) {
    margin-left: 2rem;
  }
}

.p-skills__icon {
  text-align: center;
  margin-top: 1rem;
}

.p-skills__title {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
}

.p-skills__text {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}

.p-sp-nav__item {
  font-weight: 700;
  letter-spacing: 0.08em;
  line-height: 1.2;
  font-size: 1.6rem;
  padding-left: 10%;
}
@media screen and (min-width: 768px) {
  .p-sp-nav__item {
    font-size: 3.2rem;
  }
}

.p-sp-nav__item a {
  display: block;
  color: #fff;
  padding: 1rem;
}

.p-works__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5rem 1.5rem 0;
  height: 80rem;
}
@media screen and (min-width: 768px) {
  .p-works__lists {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 80rem;
  }
}

.p-works__list {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 35rem;
}
.p-works__list:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.p-works__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-works__item {
  width: 100%;
}

.p-works__top {
  font-size: 2rem;
}

.p-works__list--right {
  font-size: 1.6rem;
}
@media screen and (min-width: 768px) {
  .p-works__list--right {
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .p-works__list--left {
    text-align: center;
    margin: 0 auto;
  }
}

.p-works__img {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .p-works__img {
    max-width: 43rem;
    width: 100%;
  }
}

.p-works__list__items {
  border-bottom: solid 2px black;
  padding: 1rem 0;
}

.p-works__list__item {
  padding-top: 2rem;
}
/*# sourceMappingURL=styles.css.map */
