@use "global" as *;

//-----------------------header-----------------------------

.p-mainvisual {
  background-image: url(/images/common/hokkaidou.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  width: 100%;
}

.c-hamburger {
  display: inline-block;
  cursor: pointer;
  @include mq("md") {
    display: none;
  }
  &::after {
    content: "MENU";
    display: block;
    color: $white;
    font-family: $base-font-family;
    font-size: 1rem;
    letter-spacing: 0.08em;
    line-height: 1.2;
    margin-top: 0.25rem;
    transition: content 0.3s;
  }
  &.is-open::after {
    content: "CLOSE";
  }
}

.c-hamburger__bars {
  display: block;
  width: 15px;
  height: 8px;
  margin: 0 auto;
  position: relative;
}
.c-hamburger__bar {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $white;
}

.c-hamburger__bar1 {
  top: 0;
  transition: top 0.3s, transform 0.3s;

  &.is-open {
    top: 0.4rem;
    transform: rotate(45deg);
  }
}
.c-hamburger__bar2 {
  top: 0.4rem;
  transition: opacity 0.3s;
  &.is-open {
    opacity: 0;
  }
}
.c-hamburger__bar3 {
  top: 0.8rem;
  transition: top 0.3s, transform 0.3s;
  &.is-open {
    top: 0.4rem;
    transform: rotate(-45deg);
  }
}

.c-logo {
  display: inline-block;
  color: $white;
  font-family: $base-font-family;
  font-size: 1rem;
  font-weight: $bold;
  letter-spacing: 0.08em;
  line-height: 1.2;
  transition: opacity 0.3s;
  @include mq("md") {
    font-size: 2rem;
    display: inline-block;
  }
  &:focus,
  &:hover {
    opacity: 0.7;
  }
}

.p-drawer {
  background-color: $drawer-color;
  transform: translateX(105%);
  transition: transform 0.3s;
}

.p-drawer.is-open {
  transform: translateX(0);
}

.p-drawer__scroll {
  width: 100%;
  height: 100%;
  padding: 11.25rem 0 6.25rem;
  overflow-y: scroll;
}

.p-gnav {
  display: none;
  @include mq("md") {
    display: block;
  }
}

.p-gnav__items {
  display: flex;
}

.p-gnav__item {
  font-family: $base-font-family;
  font-size: 1.6rem;
  font-weight: $bold;
  letter-spacing: 0.08em;
  line-height: 1.2;
  margin-left: 2rem;
}

.p-gnav__item a {
  display: block;
  color: $white;
  transition: background-color 0.3s;
  position: relative;
  display: inline-block;
  &::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: $white;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }
  &:hover {
    &::after {
      transform: scale(1, 1);
    }
  }
}

.p-header-upper__inner {
  width: 100%;
  max-width: 100%;
  height: inherit;
  padding: 0 2rem;
  @include mq("md") {
    padding: 0 5rem;
  }
}

.p-header-upper__content {
  width: 100%;
  height: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.p-header-upper__logo {
  width: 100%;
  z-index: $layer-header;
}

.p-header-upper__menu-icon {
  z-index: $layer-header;
}

.p-header-upper__drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}

.p-header {
  background-color: $drawer-color;
  display: flex;
  justify-content: center;
}

.p-header__upper {
  width: 100%;
  height: 5rem;
}

.p-header__lower {
}

.p-sp-nav__item {
  font-size: 1.125rem;
  font-weight: $bold;
  letter-spacing: 0.08em;
  line-height: 1.2;
  text-align: center;
}

.p-sp-nav__item a {
  display: block;
  color: $white;
  padding: 1rem;
}

//-----------------------about-----------------------------

.p-about {
}

.p-about__body {
  padding: 2rem;
  display: flex;
  background: $white;
  margin: 2rem auto 0;
  letter-spacing: 0.1rem;
  max-width: 100rem;
  width: 100%;
  border-radius: 2rem;
  flex-direction: column;
  align-items: center;
  @include mq("md") {
    padding: 5rem;
    flex-direction: row;
  }
}

.p-about__img {
  @include mq("md") {
    width: 30%;
  }
}
.p-about__texts {
  @include mq("md") {
    padding: 0 2rem;
    width: 70%;
  }
}
.p-about__name {
  font-size: 2.5rem;
  font-weight: $bold;
  span {
    margin-left: 0.5rem;
  }
}

.p-about__text--top {
  font-size: 1.6rem;
  margin-top: 2rem;
  @include mq("md") {
    font-size: 1.4rem;
  }
}
.p-about__text__title {
  display: inline-block;
  border-bottom: solid 1px;
  font-size: 2rem;
  font-weight: $bold;
  @include mq("md") {
    font-size: 3rem;
  }
}
.p-about__text--bottom {
  font-size: 1.4rem;
  margin-top: 2rem;
}
.p-about__text {
  margin-top: 2rem;
}
.p-about__subname {
  font-size: 1.2rem;
  @include mq("md") {
    font-size: 1.8rem;
  }
}

.p-about__subtext {
  margin-top: 1rem;
}

.p-about-porfile {
  @include mq("md") {
    max-width: 30rem;
    width: 100%;
  }
}

.p-about-porfile__img {
  width: 50%;
  margin: 0 auto;
  @include mq("md") {
    width: 100%;
  }
}

.p-about-porfile__name {
  text-align: center;
  font-size: 2rem;
}

//-----------------------common-----------------------------

.p-common {
  text-align: center;
  font-weight: $bold;
}
.p-common__title {
  font-size: 3.2rem;
  margin-top: 5rem;
}
.p-common__text {
  display: block;
  margin-top: 1rem;
  font-size: 1.4rem;
}

//-----------------------contact-----------------------------

.p-contact__controls {
  margin-top: 1.9rem;
  @include mq("md") {
    margin-top: 8.6rem;
  }
}
.p-contact-company {
  display: block;
  margin-top: 2.5rem;

  @include mq("md") {
    margin-top: 6.6rem;
  }
  dd {
    margin-top: 0.9rem;
    @include mq("md") {
      margin-top: 1.5rem;
    }
  }
}
.p-contact-label {
  font-size: 1.2rem;
  line-height: 2.58;
  letter-spacing: 0.18rem;
  display: inline-block;

  @include mq("md") {
    font-size: 1.8rem;
    line-height: 1.72223;
    letter-spacing: 0.27rem;
  }
}

.p-contact-label__name {
  &::after {
    margin-left: 0.9rem;

    @include mq("md") {
      margin-left: 0.4rem;
    }
  }
}

.p-contact-label__mail {
  &::after {
    margin-left: 1.7rem;

    @include mq("md") {
      margin-left: 0.4rem;
    }
  }
}

.p-contact-label__comment {
  &::after {
    margin-left: 0.8rem;

    @include mq("md") {
      margin-left: 5.7rem;
    }
  }
}

.p-contact-label__required {
  position: relative;

  @include mq("md") {
    padding-right: 5.4rem;
  }

  &::after {
    content: "必須";
    border: 1px solid;
    color: $white;
    color: $black;
    font-size: 1.2rem;
    font-weight: $bold;
    padding: 0.3rem 0.3rem;
  }
}
.p-contact-mail {
  margin-top: 4.3rem;

  @include mq("md") {
    margin-top: 3.8rem;
  }

  dd {
    margin-top: 0.8rem;

    @include mq("md") {
      margin-top: 1.5rem;
    }
  }
}

.p-contact-name {
  display: flex;
  margin-top: 3.9rem;
  align-items: flex-end;
  flex-direction: column;

  @include mq("md") {
    flex-direction: row;
    margin-top: 6.6rem;
    justify-content: space-between;
  }
}

.p-contact-name__left {
  width: 100%;
  dd {
    margin-top: 0.7rem;

    @include mq("md") {
      margin-top: 1.5rem;
    }
  }

  @include mq("md") {
    width: 44.6rem;
  }
}

.p-contact-name__right {
  width: 100%;
  margin-top: 1.5rem;

  @include mq("md") {
    width: 46.5rem;
    margin-top: 0;
  }
}
.p-contact {
  background: $contact-color;
}

.p-form-input {
  width: 100%;
  border: 1px solid $form-color;
  padding: 0.4rem 1.6rem;
  background-color: transparent;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1.4rem;
  height: 3.8rem;
  @include mq("md") {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}
.p-form-checkbox + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 3rem;
  position: relative;
  font-size: 1.2rem;
  @include mq("md") {
    font-size: 1.6rem;
  }
}
.p-form-checkbox + span::before {
  background: $white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 0.2rem;
  content: "";
  display: block;
  height: 2rem;
  height: 2rem;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  width: 2rem;
  @include mq("md") {
  }
}
.p-form-checkbox + span::after {
  border-bottom: 0.3rem solid $black;
  border-left: 0.3rem solid $black;
  content: "";
  display: block;
  height: 1rem;
  left: 0;
  margin-top: -0.2rem;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  transition: all 0.3s ease 0s;
  width: 2rem;
  @include mq("md") {
  }
}
.p-form-checkbox:checked + span::after {
  opacity: 1;
}
.p-contact__message {
  text-align: center;
  margin-top: 6rem;
  display: none;

  &.-error {
    color: red;
  }
}
.p-contact-textarea {
  margin-top: 4.6rem;
  @include mq("md") {
    margin-top: 3.7rem;
  }
  dd {
    margin-top: 1.3rem;
    @include mq("md") {
      margin-top: 1.6rem;
    }
  }
}

.p-contact__check {
  margin-top: 2rem;
  text-align: center;

  @include mq("md") {
    margin-top: 1rem;
  }

  a {
    color: $contact-color;
    transition: all 0.3s ease 0s;
    font-weight: $bold;
  }
}
.p-form-input {
  width: 100%;
  border: 1px solid;
  background-color: $white;
  font-size: 1.8rem;
  padding: 1.5rem 1.6rem;
}
.p-form-textarea {
  width: 100%;
  padding: 1.7rem 0.8rem;
  height: 21.7rem;
  border: 1px solid $black;
  background-color: $white;
  font-size: 1.8rem;
  @include mq("md") {
    padding: 2.2rem 0.8rem;
    height: 40rem;
  }
}

/*リンクの形状*/
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $skyblue;
  border-radius: 0.5rem;
  width: 6rem;
  height: 6rem;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
}

#page-top a:hover {
  background: $page-top-color;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 211111;
  z-index: $layer-up;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateX(100px);
}

/*左の動き*/

#page-top.LeftMove {
  animation: LeftAnime 0.5s forwards;
}

@keyframes LeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/*右の動き*/

#page-top.RightMove {
  animation: RightAnime 0.5s forwards;
}
@keyframes RightAnime {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(100px);
  }
}

//-----------------------skills-----------------------------

.p-skills {
}
.p-skills__inner {
  max-width: 100rem;
}
.p-skills__items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  @include mq("md") {
    flex-direction: row;
  }
}
.p-skills__item {
  padding: 5rem 5rem;
  background: white;
  border-radius: 2rem;
  width: 100%;
  margin-top: 2rem;
  @include mq("md") {
    width: calc(100% / 3);
    &:nth-child(n + 2) {
      margin-left: 2rem;
    }
  }
}

.p-skills__icon {
  text-align: center;
  margin-top: 1rem;
}

.p-skills__title {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
}
.p-skills__text {
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
}
.p-top {
  display: flex;
  align-items: center;
}

.p-top__menu {
  transition: all 0.3s ease 0s;

  &:not(:last-child) {
    margin-right: rem(40);
  }

  a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 0.3s;
  }
  a:hover::after {
    transform: scale(1, 1);
  }
}
.p-works__lists {
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: $white;
  border-radius: 2rem;
  flex-direction: column;
  margin: 5rem 1.5rem 0;
  height: 80rem;

  @include mq("md") {
    align-items: center;
    flex-direction: row;
    height: 80rem;
  }
}

.p-works__list {
  transition: all 0.3s ease 0s;
  width: rem(350);

  &:hover {
    opacity: 0.7;
    transition: all 0.3s ease 0s;
  }
}

.p-works__items {
  display: flex;
}

.p-works__item {
  width: 100%;
}

.p-works__top {
  font-size: 2rem;
}

.p-works__list--right {
  font-size: 1.6rem;
  @include mq("md") {
    margin: 0 auto;
  }
}

.p-works__list--left {
  @include mq("md") {
    text-align: center;
    margin: 0 auto;
  }
}

.p-works__img {
  margin-top: 1rem;
  @include mq("md") {
    max-width: 43rem;
    width: 100%;
  }
}

.p-works__list__items {
  border-bottom: solid 2px black;
  padding: 1rem 0;
}

.p-works__list__item {
  padding-top: 2rem;
}

//-----------------------component-----------------------------

.c-contact-submit {
  text-align: center;
}

.c-contact-submit__button {
  display: inline-block;
  background: $skyblue;
  padding: 2rem 10rem;
  padding: 0.6em 2em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  border-radius: 3rem;
  @include mq("md") {
    font-size: 1.8rem;
  }
}

//-----------------------layer-----------------------------
.l-contact-submit {
  margin-top: 0.5rem;
  text-align: center;
  @include mq("md") {
    margin-top: 1rem;
  }
}

.l-contact {
  // padding: 2rem 0;
  
    max-width: 100rem;
}
.l-footer {
  padding: 4.5rem 0;
}

.l-section {
  padding: 7rem 0;
}

.l-works {
  max-width: 100rem;
}

.footer {
}

.p-footer {
  background: $footer-color;
}

.footer__copyright {
  font-size: 1.4rem;
  display: block;
  text-align: center;
  color: $white;
}
