@use "global" as *;

.p-header-upper__inner {
  width: 100%;
  max-width: 100%;
  height: inherit;
  padding: 0 2rem;
  @include mq("md") {
    padding: 0 5rem;
  }
}

.p-header-upper__content {
  width: 100%;
  height: inherit;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.p-header-upper__logo {
  width: 100%;
  z-index: $layer-header;
}

.p-header-upper__menu-icon {
  z-index: $layer-header;
}

.p-header-upper__drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
}