@use "global" as *;

.p-skills {
}
.p-skills__items {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
  @include mq("md") {
    flex-direction: row;
  }
}
.p-skills__item {
  padding: 5rem 5rem;
  background: white;
  border-radius: 2rem;
  width: 100%;
  margin-top: 2rem;
  @include mq("md") {
    width: calc(100% / 3);
    &:nth-child(n + 2) {
      margin-left: 2rem;
    }
  }
}
.p-skills__icon {
  text-align: center;
  margin-top: 1rem;
}

.p-skills__title {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 1rem;
}
.p-skills__text {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 1rem;
}
