@use "global" as *;

.c-contact-submit {
  text-align: center;
}

.c-contact-submit__button {
  display: inline-block;
  background: $skyblue;
  padding: 2rem 10rem;
  padding: 0.6em 2em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  border-radius: 3rem;
  @include mq("md") {
    font-size: 1.8rem;
  }
}
