@use "global" as *;

.c-logo {
    display: inline-block;
    color: $white;
    font-family: $base-font-family;
    font-size: 1.6rem;
    font-weight: $bold;
    letter-spacing: 0.08em;
    line-height: 1.2;
    transition: opacity 0.3s;
    @include mq("md") {
        font-size: 2rem;
        display: inline-block;
    }
    &:focus,
    &:hover {
        opacity: 0.7;
    }
}
